{% extends 'base.html.twig' %}

{% block title %}Hello PaysPopController!{% endblock %}

{% block body %}

<h2 class="text-center">La population de la {{ pays }} est de {{ populationGlobale }} habitants .</h2> 


{% endblock %}
