{% extends 'base.html.twig' %}

{% block title %}Hello RechercheFilmController!{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-12">{{form(form)}}</div>
        
    </div>  
{% endblock %}
