{% extends 'base.html.twig' %}

{% block title %}Hello CityController!{% endblock %}

{% block body %}

<h2>Detail de {{detailVille.nom}}</h2>

<p>La ville se situe en {{detailVille.pays}}, dans le departement {{detailVille.dept}} avec une population de {{detailVille.population}} .</p>


{% endblock %}
